* {
    margin: 0;
    padding: 0;
  }

  html, body{
      height: 100%;
  }

  
  #container{
      height: 100%;
      width: 100%;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      'header header header'
      'content content content'
      'content content content'
      'content content content';
      border: 1px solid red;
  }

  .header{
      grid-area: header;
      border: 1px solid blue;
      

  }

  .content{
      grid-area: content;
      border: 1px solid yellow;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding-top: 20px;
  }

  .card {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    height: 325px;
    width: 250px;
  }
 
  .date, .temp, .condition{
      display: flex;
      justify-content: center;
  }

  .icon{
     display: block;
     margin:auto;
     width: 150px;
    height: 150px;
  }

 .search{
     height: 230px;
     width: 40%;
     display: flex;
     justify-content: flex-start;
     align-items: end;
     padding-left: 50px;
     padding-bottom: 25px;
     border: 1px solid red;
 }

 .search-field{
     /* border-top: none;
     border-left: none;
     border-right: none; */
     height: 40px;
 }

 .forms > select, button{
     height: 40px;
 }